Proyecto_Fase1/EDDS/EDDS/Service References/ServiceRef/ServicioWeb.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Parametros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="j1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="j2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nn1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nn2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nn3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nn4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tx" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tim" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ParametrosResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetJugador1">
        <s:complexType />
      </s:element>
      <s:element name="RetJugador1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetJugador1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetJugador2">
        <s:complexType />
      </s:element>
      <s:element name="RetJugador2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetJugador2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetTamanoX">
        <s:complexType />
      </s:element>
      <s:element name="RetTamanoXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetTamanoXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetTamanoY">
        <s:complexType />
      </s:element>
      <s:element name="RetTamanoYResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetTamanoYResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetTipo">
        <s:complexType />
      </s:element>
      <s:element name="RetTipoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetTipoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetTiempo">
        <s:complexType />
      </s:element>
      <s:element name="RetTiempoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetTiempoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsercionMasivaArbol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Us" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cont" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Corr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Logi" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsercionMasivaArbolResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsercionMasivaListasDelArbol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Op" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bb" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dd" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ee" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsercionMasivaListasDelArbolResponse">
        <s:complexType />
      </s:element>
      <s:element name="Pintar">
        <s:complexType />
      </s:element>
      <s:element name="PintarResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarEnArbol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nickn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEnArbolResponse">
        <s:complexType />
      </s:element>
      <s:element name="ModificarEnArbol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Ant" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nick" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Pass" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Mail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Log" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarEnArbolResponse">
        <s:complexType />
      </s:element>
      <s:element name="IncertarEnMatrizLive">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jug" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="col" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fil" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="uni" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="des" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IncertarEnMatrizLiveResponse">
        <s:complexType />
      </s:element>
      <s:element name="PintarMSobrevivientes">
        <s:complexType />
      </s:element>
      <s:element name="PintarMSobrevivientesResponse">
        <s:complexType />
      </s:element>
      <s:element name="PintarMDestruidas">
        <s:complexType />
      </s:element>
      <s:element name="PintarMDestruidasResponse">
        <s:complexType />
      </s:element>
      <s:element name="EliminarEnMatriz">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jug" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="col" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fil" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="uni" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="niv" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EliminarEnMatrizResponse">
        <s:complexType />
      </s:element>
      <s:element name="CopiarImagenes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="r" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CopiarImagenesResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ParametrosSoapIn">
    <wsdl:part name="parameters" element="tns:Parametros" />
  </wsdl:message>
  <wsdl:message name="ParametrosSoapOut">
    <wsdl:part name="parameters" element="tns:ParametrosResponse" />
  </wsdl:message>
  <wsdl:message name="RetJugador1SoapIn">
    <wsdl:part name="parameters" element="tns:RetJugador1" />
  </wsdl:message>
  <wsdl:message name="RetJugador1SoapOut">
    <wsdl:part name="parameters" element="tns:RetJugador1Response" />
  </wsdl:message>
  <wsdl:message name="RetJugador2SoapIn">
    <wsdl:part name="parameters" element="tns:RetJugador2" />
  </wsdl:message>
  <wsdl:message name="RetJugador2SoapOut">
    <wsdl:part name="parameters" element="tns:RetJugador2Response" />
  </wsdl:message>
  <wsdl:message name="RetTamanoXSoapIn">
    <wsdl:part name="parameters" element="tns:RetTamanoX" />
  </wsdl:message>
  <wsdl:message name="RetTamanoXSoapOut">
    <wsdl:part name="parameters" element="tns:RetTamanoXResponse" />
  </wsdl:message>
  <wsdl:message name="RetTamanoYSoapIn">
    <wsdl:part name="parameters" element="tns:RetTamanoY" />
  </wsdl:message>
  <wsdl:message name="RetTamanoYSoapOut">
    <wsdl:part name="parameters" element="tns:RetTamanoYResponse" />
  </wsdl:message>
  <wsdl:message name="RetTipoSoapIn">
    <wsdl:part name="parameters" element="tns:RetTipo" />
  </wsdl:message>
  <wsdl:message name="RetTipoSoapOut">
    <wsdl:part name="parameters" element="tns:RetTipoResponse" />
  </wsdl:message>
  <wsdl:message name="RetTiempoSoapIn">
    <wsdl:part name="parameters" element="tns:RetTiempo" />
  </wsdl:message>
  <wsdl:message name="RetTiempoSoapOut">
    <wsdl:part name="parameters" element="tns:RetTiempoResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="InsercionMasivaArbolSoapIn">
    <wsdl:part name="parameters" element="tns:InsercionMasivaArbol" />
  </wsdl:message>
  <wsdl:message name="InsercionMasivaArbolSoapOut">
    <wsdl:part name="parameters" element="tns:InsercionMasivaArbolResponse" />
  </wsdl:message>
  <wsdl:message name="InsercionMasivaListasDelArbolSoapIn">
    <wsdl:part name="parameters" element="tns:InsercionMasivaListasDelArbol" />
  </wsdl:message>
  <wsdl:message name="InsercionMasivaListasDelArbolSoapOut">
    <wsdl:part name="parameters" element="tns:InsercionMasivaListasDelArbolResponse" />
  </wsdl:message>
  <wsdl:message name="PintarSoapIn">
    <wsdl:part name="parameters" element="tns:Pintar" />
  </wsdl:message>
  <wsdl:message name="PintarSoapOut">
    <wsdl:part name="parameters" element="tns:PintarResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarEnArbolSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarEnArbol" />
  </wsdl:message>
  <wsdl:message name="EliminarEnArbolSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarEnArbolResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarEnArbolSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarEnArbol" />
  </wsdl:message>
  <wsdl:message name="ModificarEnArbolSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarEnArbolResponse" />
  </wsdl:message>
  <wsdl:message name="IncertarEnMatrizLiveSoapIn">
    <wsdl:part name="parameters" element="tns:IncertarEnMatrizLive" />
  </wsdl:message>
  <wsdl:message name="IncertarEnMatrizLiveSoapOut">
    <wsdl:part name="parameters" element="tns:IncertarEnMatrizLiveResponse" />
  </wsdl:message>
  <wsdl:message name="PintarMSobrevivientesSoapIn">
    <wsdl:part name="parameters" element="tns:PintarMSobrevivientes" />
  </wsdl:message>
  <wsdl:message name="PintarMSobrevivientesSoapOut">
    <wsdl:part name="parameters" element="tns:PintarMSobrevivientesResponse" />
  </wsdl:message>
  <wsdl:message name="PintarMDestruidasSoapIn">
    <wsdl:part name="parameters" element="tns:PintarMDestruidas" />
  </wsdl:message>
  <wsdl:message name="PintarMDestruidasSoapOut">
    <wsdl:part name="parameters" element="tns:PintarMDestruidasResponse" />
  </wsdl:message>
  <wsdl:message name="EliminarEnMatrizSoapIn">
    <wsdl:part name="parameters" element="tns:EliminarEnMatriz" />
  </wsdl:message>
  <wsdl:message name="EliminarEnMatrizSoapOut">
    <wsdl:part name="parameters" element="tns:EliminarEnMatrizResponse" />
  </wsdl:message>
  <wsdl:message name="CopiarImagenesSoapIn">
    <wsdl:part name="parameters" element="tns:CopiarImagenes" />
  </wsdl:message>
  <wsdl:message name="CopiarImagenesSoapOut">
    <wsdl:part name="parameters" element="tns:CopiarImagenesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioWebSoap">
    <wsdl:operation name="Parametros">
      <wsdl:input message="tns:ParametrosSoapIn" />
      <wsdl:output message="tns:ParametrosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetJugador1">
      <wsdl:input message="tns:RetJugador1SoapIn" />
      <wsdl:output message="tns:RetJugador1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetJugador2">
      <wsdl:input message="tns:RetJugador2SoapIn" />
      <wsdl:output message="tns:RetJugador2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetTamanoX">
      <wsdl:input message="tns:RetTamanoXSoapIn" />
      <wsdl:output message="tns:RetTamanoXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetTamanoY">
      <wsdl:input message="tns:RetTamanoYSoapIn" />
      <wsdl:output message="tns:RetTamanoYSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetTipo">
      <wsdl:input message="tns:RetTipoSoapIn" />
      <wsdl:output message="tns:RetTipoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetTiempo">
      <wsdl:input message="tns:RetTiempoSoapIn" />
      <wsdl:output message="tns:RetTiempoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsercionMasivaArbol">
      <wsdl:input message="tns:InsercionMasivaArbolSoapIn" />
      <wsdl:output message="tns:InsercionMasivaArbolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsercionMasivaListasDelArbol">
      <wsdl:input message="tns:InsercionMasivaListasDelArbolSoapIn" />
      <wsdl:output message="tns:InsercionMasivaListasDelArbolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pintar">
      <wsdl:input message="tns:PintarSoapIn" />
      <wsdl:output message="tns:PintarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEnArbol">
      <wsdl:input message="tns:EliminarEnArbolSoapIn" />
      <wsdl:output message="tns:EliminarEnArbolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarEnArbol">
      <wsdl:input message="tns:ModificarEnArbolSoapIn" />
      <wsdl:output message="tns:ModificarEnArbolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IncertarEnMatrizLive">
      <wsdl:input message="tns:IncertarEnMatrizLiveSoapIn" />
      <wsdl:output message="tns:IncertarEnMatrizLiveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PintarMSobrevivientes">
      <wsdl:input message="tns:PintarMSobrevivientesSoapIn" />
      <wsdl:output message="tns:PintarMSobrevivientesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PintarMDestruidas">
      <wsdl:input message="tns:PintarMDestruidasSoapIn" />
      <wsdl:output message="tns:PintarMDestruidasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEnMatriz">
      <wsdl:input message="tns:EliminarEnMatrizSoapIn" />
      <wsdl:output message="tns:EliminarEnMatrizSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CopiarImagenes">
      <wsdl:input message="tns:CopiarImagenesSoapIn" />
      <wsdl:output message="tns:CopiarImagenesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioWebSoap" type="tns:ServicioWebSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parametros">
      <soap:operation soapAction="http://tempuri.org/Parametros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetJugador1">
      <soap:operation soapAction="http://tempuri.org/RetJugador1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetJugador2">
      <soap:operation soapAction="http://tempuri.org/RetJugador2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTamanoX">
      <soap:operation soapAction="http://tempuri.org/RetTamanoX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTamanoY">
      <soap:operation soapAction="http://tempuri.org/RetTamanoY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTipo">
      <soap:operation soapAction="http://tempuri.org/RetTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTiempo">
      <soap:operation soapAction="http://tempuri.org/RetTiempo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsercionMasivaArbol">
      <soap:operation soapAction="http://tempuri.org/InsercionMasivaArbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsercionMasivaListasDelArbol">
      <soap:operation soapAction="http://tempuri.org/InsercionMasivaListasDelArbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pintar">
      <soap:operation soapAction="http://tempuri.org/Pintar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEnArbol">
      <soap:operation soapAction="http://tempuri.org/EliminarEnArbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEnArbol">
      <soap:operation soapAction="http://tempuri.org/ModificarEnArbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncertarEnMatrizLive">
      <soap:operation soapAction="http://tempuri.org/IncertarEnMatrizLive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PintarMSobrevivientes">
      <soap:operation soapAction="http://tempuri.org/PintarMSobrevivientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PintarMDestruidas">
      <soap:operation soapAction="http://tempuri.org/PintarMDestruidas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEnMatriz">
      <soap:operation soapAction="http://tempuri.org/EliminarEnMatriz" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopiarImagenes">
      <soap:operation soapAction="http://tempuri.org/CopiarImagenes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioWebSoap12" type="tns:ServicioWebSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Parametros">
      <soap12:operation soapAction="http://tempuri.org/Parametros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetJugador1">
      <soap12:operation soapAction="http://tempuri.org/RetJugador1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetJugador2">
      <soap12:operation soapAction="http://tempuri.org/RetJugador2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTamanoX">
      <soap12:operation soapAction="http://tempuri.org/RetTamanoX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTamanoY">
      <soap12:operation soapAction="http://tempuri.org/RetTamanoY" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTipo">
      <soap12:operation soapAction="http://tempuri.org/RetTipo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetTiempo">
      <soap12:operation soapAction="http://tempuri.org/RetTiempo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsercionMasivaArbol">
      <soap12:operation soapAction="http://tempuri.org/InsercionMasivaArbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsercionMasivaListasDelArbol">
      <soap12:operation soapAction="http://tempuri.org/InsercionMasivaListasDelArbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pintar">
      <soap12:operation soapAction="http://tempuri.org/Pintar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEnArbol">
      <soap12:operation soapAction="http://tempuri.org/EliminarEnArbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarEnArbol">
      <soap12:operation soapAction="http://tempuri.org/ModificarEnArbol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IncertarEnMatrizLive">
      <soap12:operation soapAction="http://tempuri.org/IncertarEnMatrizLive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PintarMSobrevivientes">
      <soap12:operation soapAction="http://tempuri.org/PintarMSobrevivientes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PintarMDestruidas">
      <soap12:operation soapAction="http://tempuri.org/PintarMDestruidas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEnMatriz">
      <soap12:operation soapAction="http://tempuri.org/EliminarEnMatriz" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CopiarImagenes">
      <soap12:operation soapAction="http://tempuri.org/CopiarImagenes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioWeb">
    <wsdl:port name="ServicioWebSoap" binding="tns:ServicioWebSoap">
      <soap:address location="http://localhost:55771/ServicioWeb.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioWebSoap12" binding="tns:ServicioWebSoap12">
      <soap12:address location="http://localhost:55771/ServicioWeb.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>